.header {
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Shrikhand';
        font-size: 30px;
    }

    &__location {
        display: flex;

        i {}
    }

}