@import "../utils/mixins";

// Header button //

.btn {
    padding: 15.5px 22px;
    font-size: 16px;
    border-radius: 50px;
    color: #F3F3F3;
    background-color: transparent;
    border: transparent 0px solid;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /*Ajoute une transition de 0.3 secondes pour le changement de couleur de fond et l'ombre portée avec une interpolation douce (ease).*/
    @include gradient;
    @include shadow-btn;

    &:hover {
        opacity: 0.90;
        /*Réduit légèrement l'opacité du bouton lors du survol.*/
        @include shadow-btn-hover;
    }
}

// Menu button //

.btn__menu {
    padding: 15px 48.5px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include shadow-btn;
}

// Heart button //

.btn__heart {
    font-size: 25px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.btn__heart-solid {
    opacity: 0;
    position: absolute;
    color: transparent;
    background-clip: text;
    transition: opacity 0.5s ease-in-out;
    @include gradient;
}

.btn__heart-solid:hover {
    opacity: 1;
}