@import "../utils/variables";

// Homepage cards //

.restaurant {
    background-color: #F6F6F6;
    padding: 0 20px;

    &__cards {
        display: flex;
        flex-direction: column;

        @media (min-width: $tablette) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    /*Définit un conteneur pour les cartes des restaurants. 
    En dessous de la taille d'une tablette, les cartes sont affichées en colonne. 
    Au-dessus de la taille d'une tablette, les cartes sont affichées en ligne avec un espacement égal entre elles.*/

    &__card {
        background-color: #FFFFFF;
        width: 100%;
        border-radius: 20px;
        position: relative;
        margin-bottom: 40px;

        @media (min-width: $desktop) {
            width: 46%;
        }
    }

    /*Définit le style des cartes individuelles des restaurants.
    Définit la couleur de fond, le rayon des coins, et une marge en bas pour l'espacement.
    Pour les écrans tablette et plus grands, les cartes occupent 50% de la largeur moins 10 pixels pour l'espacement entre les cartes.*/

    img {
        display: flex;
        width: 100%;
        height: 231px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    /*Définit le style des images à l'intérieur des cartes.
    Les images sont étirées pour remplir leur conteneur tout en conservant leurs proportions, et elles sont coupées pour s'ajuster au cadre de l'image.
    Les coins supérieurs de l'image ont un rayon de 15 pixels pour correspondre au rayon des coins de la carte.*/

    &__card--badge {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        background: $color-tertiary;
        color: $color-green;
        border-radius: 3px;
        padding: 6px 12px;
    }

    /*Définit le style des badges dans les cartes des restaurants, positionnés en haut à droite de la carte.*/
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px 20px 15px;

    &__txt {
        flex: 1 0 auto;
        /*cet élément va prendre autant d'espace disponible que possible sur l'axe principal, mais ne se rétrécira pas en dessous de sa taille minimale inhérente.*/
    }
}

// Menu pages cards //

.cards__menu {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 14px;
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    /*Applique une animation de fondu entrant pour rendre les cartes visibles progressivement. La durée de l'animation est de 0,5 seconde, elle utilise une fonction d'accélération (ease) et l'animation avance jusqu'à la fin de la séquence.*/
    @include shadow;

    /*Définit le style des cartes sur les pages de menu.
    Les cartes sont affichées en ligne avec un espacement égal entre elles. Elles ont une couleur de fond, un rayon de coin et une marge en bas.
    Les cartes ont une opacité de 0 par défaut et une animation de fondu entrant est appliquée pour les rendre visibles.*/

    /*Style spécifique pour les titres de chaque carte.*/
    h2 {
        margin: 0 0 4px;
        margin-right: 20px;
        white-space: nowrap;
        @include suspension-points;
    }

    /// Animation slide-left ///
    &:hover .cards__animation {
        width: 59px;
        animation: slide-left;
    }

    /// Animation fadeIn ///
    /*Applique des retards à l'animation de fondu pour chaque carte en fonction de son index de position dans le groupe.*/
    // Entrées //
    &:nth-of-type(1) {
        animation-delay: 0.2s;
    }

    &:nth-of-type(2) {
        animation-delay: 0.4s;
    }

    &:nth-of-type(3) {
        animation-delay: 0.6s;
    }

    // Plats //
    &:nth-of-type(4) {
        animation-delay: 0.8s;
    }

    &:nth-of-type(5) {
        animation-delay: 1s;
    }

    &:nth-of-type(6) {
        animation-delay: 1.2s;
    }

    // Desserts //
    &:nth-of-type(7) {
        animation-delay: 1.4s;
    }

    &:nth-of-type(8) {
        animation-delay: 1.6s;
    }

    &:nth-of-type(9) {
        animation-delay: 1.8s;
    }
}

/*Styles spécifiques pour les différents éléments à l'intérieur des cartes*/
.cards__text {
    overflow: hidden;
    font-size: 15px;
    padding: 12px 12px 12px 10px;
    width: calc(100% - 59px);
}

.cards__subtitle {
    margin-right: 20px;
    white-space: nowrap;
    @include suspension-points;
}

.cards__price {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 0 10px 10px 0;
}

/// Animation style slide-left ///

.cards__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    width: 0;
    overflow: hidden;
    height: 69px;
    border-radius: 0 15px 15px 0;
    transition: width 0.5s ease-out;

    i {
        font-size: 20px;
        color: white;
    }
}

/*Définit le style des animations dans les cartes du menu.
Les animations sont affichées en ligne, centrées horizontalement et verticalement. Elles ont une couleur de fond spécifique définie par une variable.
Initialement, la largeur est définie à 0 et elle augmente progressivement grâce à une transition lors du survol de la carte.
Les éléments enfants ont une taille et une couleur de texte spécifiques.*/