// Loader style //
.loader {
    background: $color-grey;
    position: fixed;
    inset: 0;
    z-index: 2;
    animation: loader 2s linear;
    visibility: hidden;

    &__animation {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid transparent;
        border-top: 10px solid $color-primary;
        border-bottom: 10px solid $color-secondary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: fixed;
        inset: 0;
        animation: loader-border 2s linear;

        i {
            color: $color-dark-grey;
            font-size: 40px;
        }
    }
}