@import "../utils/variables";

// Text Fonts and global titles //

$font-title: 'Shrikhand';

* {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
}

.info__title {
    font-size: 24px;
    margin-bottom: 15px;


    @media (min-width: $desktop) {
        font-size: 30px;
    }
}

.info__subtitle {
    font-size: 18px;
    color: #353535;
    margin-bottom: 40px;
}

.titles {
    font-size: 24px;
    font-weight: bold;
    padding: 50px 0 20px 0;
}

.subtitles {
    font-size: 18px;
    margin: 0px;
}

p {
    font-size: 16px;
}

// Menu pages restaurant titles //

.restaurant__titles {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    margin-right: 20px;
}

// Capital title of dishes //

.uppercase-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;

    &::after {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $color-tertiary;
        position: absolute;
        left: 0;
        top: 24px;
    }
}