$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$green-color: #008766;
$blue-color: #89C8FA;
$dark-blue-color: #003A68;
$white-color: #F3F3F3;
$grey-color: #EAEAEA;
$dark-grey-color: #353535;

linear-gradient(to top, lighten($primary-color, 10%), $secondary-color, );