.footer {
    background-color: #353535;
    padding: 30px 25px 30px 25px;

    i,
    p {
        color: white;
        margin-right: 10px;
    }

    i {
        width: 19px;
        margin-right: 8px;
    }

    img {
        filter: invert(1);
        width: 120px;
        height: auto;
        padding: 0 0 25px;
    }

    a {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    @media (min-width: $desktop) {
        display: flex;
        flex-direction: row-reverse;
        padding: 70px 80px 30px 25px;

        img {
            padding: 0;
            margin-left: 80px;
        }

        .footer__content {
            display: flex;
        }

        .footer__link {
            display: flex;
            margin-left: 40px;
        }
    }
}