.header {
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
    }

    img {
        height: 30px;
    }

    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        height: 50px;
    }

    i {
        margin-right: 17px;
    }

    p {
        font-weight: bold;
    }
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 20px 70px;
    background-color: #F6F6F6;

    h2 {
        margin: 0px;

    }

    &__subtitle {
        font-size: 18px;
        color: #353535;
        padding: 12px 0 30px;
    }
}