@import "../utils/mixins";

// Homepage header //

.header {
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;

        img {
            height: 30px;
        }
    }

    // Location bar //
    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        height: 50px;
        font-weight: bold;
        @include shadow-location;

        @media (min-width: $tablette) {
            box-shadow: none;
        }
    }

    i {
        margin-right: 17px;
    }
}

// Info bar //

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px 70px;
    background-color: #F6F6F6;
    @include shadow-location;

    &__subtitle {
        font-size: 18px;
        color: #353535;
        margin-bottom: 40px;
    }

    @media (min-width: $tablette) {
        box-shadow: none;
    }
}